/* Base styles */
@font-face {
	font-family: "Limkin";
	src: url("https://toomuchtype.com/fonts/limkin/variable/TMT-LimkinVF.ttf") format(truetype),
		 url("https://toomuchtype.com/fonts/limkin/variable/TMT-LimkinVF.woff") format(woff),
		 url("https://toomuchtype.com/fonts/limkin/variable/TMT-LimkinVF.woff2") format(woff2);
	font-weight: 100 900;
}
:root {
	--red: #FF734D;
	--blue: #5ADDE8;
	--purple: #A690FC;
	--yellow: #fcc03a;
	--pink: #F3A8DD;
	--green: #98DB6B;
	--off-white: #fafafa;
	--light-gray: #e5e5e5;
	--dark-gray: #444444;
	--off-black: #222222;
	--box-shadow: 5px 5px 5px rgba(0,0,0,.03), 10px 10px 10px rgba(0,0,0,.05);
	--primary: var(--light-gray);
	scroll-behavior: smooth;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: "Limkin", sans-serif;
	font-variation-settings: "wght" 500, "SRFF" 0;
	font-weight: 500;
	background-color: var(--off-black);
	color: var(--off-white);
}
img, svg {
	display: block;
	max-width: 100%;
}

/* Basic structure */
.home {
	display: grid;
	grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
}
.home-divider {
	flex-shrink: 0;
	height: 2px;
	background-color: var(--dark-gray);
	border-radius: 4px;
	width: 100%;
	max-width: 320px;
	margin: 40px auto;
}
@media only screen and (max-width: 700px) {
	.home {
		grid-template-columns: 1fr;
	}
}

/* Title */
.home-title {
	height: 100vh;
	position: sticky;
	top: 0;
	overflow: hidden;
	background-color: var(--light-gray);
}
.home-title-text {
	line-height: .8em;
	font-variation-settings: "wght" 700, "SRFF" 0;
	font-weight: 700;
	letter-spacing: -0.03em;
	font-size: 9.5vw;
	text-transform: uppercase;
	word-spacing: -0.1em;
	position: absolute;
	width: 100%;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, calc(-50% + .17em));
	z-index: 2;
	white-space: nowrap;
}
.home-title-solid {
	color: var(--off-black);
}
.home-title-outline {
	color: transparent;
	-webkit-text-stroke: 2px var(--off-black);
	z-index: 99;
}
.home-title-with {
	font-size: .4em;
	font-variation-settings: "wght" 800, "SRFF" 0;
	font-weight: 800;
	display: inline-block;
	margin: 0 .05em;
	animation: home-title-with 1s infinite alternate ease-in-out;
}
@keyframes home-title-with {
	from {
		transform: translateY(0);
	}
	to {
		transform: translateY(-1.15em);
	}
}
.home-title-bubble {
	position: absolute;
	width: 10vw;
	aspect-ratio: 1/1;
	border-radius: 50%;
	background-color: var(--pink);
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	opacity: 0;
	transition: opacity 1s, top 50s, left 50s;
}
.home-title-callout {
	position: absolute;
	z-index: 100;
	display: flex;
	flex-direction: column;
	align-items: center;
	transform: translate(-50%, -50%);
}
.home-title-callout span {
	color: var(--off-black);
	background-color: white;
	padding: .8em 1.5em .6em 1.5em;
	font-size: max(1.2vw, 14px);
	text-align: center;
	letter-spacing: -0.04em;
	line-height: 1em;
	z-index: 1;
	border-radius: 10vw;
	font-weight: 700;
	font-variation-settings: "wght" 700, 'SRFF' 0;
}
.home-title-callout svg {
	fill: white;
	width: 40px;
	margin: -.5px 0;
}
.home-title-callout-gd1 {
	top: 50%;
	left: 22.5%;
	animation: home-title-callout-gd1 ease-in-out 2s -.5s infinite alternate;
}
@keyframes home-title-callout-gd1 {
	from {
		transform: translate(-50%, calc(-50% - 7vw)) rotate(-5deg);
	}
	to {
		transform: translate(-50%, calc(-50% - 8vw)) rotate(-4deg);
	}
}
.home-title-callout-gd2 {
	bottom: 50%;
	right: 22.5%;
	animation: home-title-callout-gd2 ease-in-out 2s infinite alternate;
}
.home-title-callout-gd2 svg {
	transform: rotate(180deg);
}
@keyframes home-title-callout-gd2 {
	from {
		transform: translate(50%, calc(50% + 7vw)) rotate(5deg);
	}
	to {
		transform: translate(50%, calc(50% + 8vw)) rotate(4deg);
	}
}
@media only screen and (max-width: 700px) {
	.home-title {
		position: relative;
		height: 50svh;
		top: 0;
	}
	.home-title-text {
		font-size: 20vw;
	}
	.home-title-callout-gd1 {
		top: 40%;
	}
	.home-title-callout-gd2 {
		bottom: 40%;
	}
}

/* Intro */
.home-intro {
	color: var(--off-white);
	background-color: var(--off-black);
	padding: 40px;
	min-height: 100vh;
	align-items: safe center;
	justify-content: center;
	display: flex;
	text-wrap: pretty;
	width: 100%;
	font-size: clamp(24px, 2vw, 32px);
	letter-spacing: -0.04em;
	line-height: 1.2em;
	font-variation-settings: "wght" 650, 'SRFF' 0;
	font-weight: 650;
}
.home-intro-content {
	max-width: 640px;
	width: 100%;
	align-items: start;
	display: flex;
	flex-direction: column;
	gap: 1em;
}
.home-intro p {
	width: 100%;
}
.home-intro-link {
	text-decoration: none;
	color: var(--off-white);
}
.home-intro-link span {
	background-color: var(--off-black);
	display: inline-block;
	font-size: .8em;
	padding: .3em 1em .1em 1em;
	display: inline-block;
	border: 4px solid var(--off-white);
	box-shadow: 4px 4px var(--off-white);
	font-weight: 650;
	font-variation-settings: "wght" 650, 'SRFF' 0;
	transition: box-shadow .2s, transform .2s;
	border-radius: 100px;
}
.home-intro-link:hover span {
	transform: translate(-4px, -4px);
	background-color: var(--dark-gray);
	box-shadow: 8px 8px var(--off-white);
}
.home-intro-link:active span {
	transform: translate(4px, 4px);
	background-color: var(--off-white);
	color: var(--off-black);
	box-shadow: 0px 0px var(--off-white);
}
@media only screen and (max-width: 700px) {
	.home-intro {
		min-height: unset;
		padding: 40px 20px;
	}
}

/* Project links */
.home-projects {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 80px;
	padding: 40px;
}
.home-projects-section {
	max-width: 720px;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 40px;
}
.home-projects-section-header {
	background-color: var(--off-black);
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.home-projects-section-heading {
	font-size: clamp(36px, 4vw, 72px);
	font-variation-settings: "wght" 800, "SRFF" 0;
	letter-spacing: -0.06em;
	line-height: 1em;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.home-projects-section-heading-emoji {
	font-size: clamp(48px, 4vw, 72px);
	transform: translate(-.1em);
}
.home-projects-section-desc {
	text-wrap: pretty;
	font-size: clamp(18px, 1.5vw, 24px);
	letter-spacing: -0.04em;
	line-height: 1.2em;
	font-variation-settings: "wght" 300, 'SRFF' 0;
	font-weight: 300;
}
.home-projects-section-links {
	display: flex;
	flex-direction: column;
	gap: 40px;
}
.home-project {
	border-left: unset;
	text-decoration: none;
	color: var(--primary);
	flex-shrink: 0;
	display: grid;
	grid-template-columns: 140px 1fr;
	align-items: center;
	transition: color .2s;
}
.home-project:hover {
	--primary: var(--off-white) !important;
}
.home-project-emoji {
	background-color: var(--off-black);
	aspect-ratio: 1/1;
	transition: transform 1s;
	border: 4px solid var(--primary);
	box-shadow: 8px 8px var(--primary);
	border-radius: 50%;
	transition: box-shadow .2s, border .2s, transform .2s, background-color .2s;
}
.home-project:hover .home-project-emoji {
	box-shadow: 16px 16px var(--primary);
	transform: translate(-8px, -8px);
}
.home-project:active .home-project-emoji {
	box-shadow: 0px 0px var(--primary);
	background-color: var(--primary);
	transform: translate(8px, 8px);
}
.home-project-emoji > div > div {
	aspect-ratio: 1/1;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 64px;
	animation: home-project-emoji-rotate 2s infinite ease-in-out alternate;
}
.home-project:nth-child(even) .home-project-emoji > div > div {
	animation-delay: -1s;
}
@keyframes home-project-emoji-rotate {
	from {
		transform: rotate(-16deg);
	}
	to {
		transform: rotate(16deg);
	}
}
.home-project-content {
	padding: 10px 40px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	justify-content: center;
	align-items: start;
}
.home-project-construction {
	text-transform: uppercase;
	font-variation-settings: "wght" 700, "SRFF" 0;
	font-weight: 700;
	font-size: 12px;
	letter-spacing: .1em;
	line-height: 1em;
	background-color: var(--primary);
	color: var(--off-black);
	border-radius: 40px;
	padding: .4em .8em .2em .8em;
	margin-bottom: 4px;
	animation: construction 1s infinite ease-in-out alternate;
}
@keyframes construction {
	from {
		opacity: .25;
	}
	to {
		opacity: 1;
	}
}
.home-project-heading {
	font-size: clamp(24px, 2vw, 32px);
	letter-spacing: -0.05em;
	line-height: 1em;
	font-weight: 800;
	text-wrap: balance;
	font-variation-settings: "wght" 800, 'SRFF' 0;
}
.home-project-tagline {
	text-wrap: pretty;
	font-size: clamp(18px, 1.5vw, 24px);
	letter-spacing: -0.04em;
	line-height: 1.2em;
	font-variation-settings: "wght" 300, 'SRFF' 0;
	font-weight: 300;
}
@media only screen and (max-width: 1000px) {
	.home-project {
		grid-template-columns: 1fr;
		gap: 20px;
	}
	.home-project-emoji {
		width: 80px;
		height: 80px;
	}
	.home-project-emoji > div > div {
		font-size: 32px;
	}
	.home-project-content {
		padding: 0;
	}
}
@media only screen and (max-width: 700px) {
	.home-projects {
		padding: 40px 20px;
	}
}

/* Thumbnails */
.home-project-thumbnails {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	opacity: 1;
	transition: opacity .2s;
	pointer-events: none;
	background-color: rgba(255,255,255,.25);
}
.home-project-thumbnails[data-active="0"] {
	opacity: 0;
}
.home-project-thumbnails iframe {
	position: absolute;
	background-color: white;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(.5);
	width: 150%;
	aspect-ratio: 4/3;
	opacity: 1;
	border-radius: 20px;
	transition: opacity .2s;
	border: unset;
	animation: home-project-thumbnails-preview .75s infinite alternate ease-in-out;
}
.home-project-thumbnails iframe[data-active="0"] {
	opacity: 0;
}
@keyframes home-project-thumbnails-preview {
	from {
		transform: translate(-50%, -50%) scale(.5);
	}
	to {
		transform: translate(-50%, -50%) scale(.52);
	}
}

/* Footer */
.home-footer {
	width: 100%;
	max-width: 720px;
}
.home-footer-links {
	gap: 40px;
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.home-footer-link {
	color: var(--off-black);
	text-decoration: none;
	border-radius: 50%;
}
.home-footer-link:nth-child(6n+1) {
	--primary: var(--pink);
}
.home-footer-link:nth-child(6n+2) {
	--primary: var(--green);
}
.home-footer-link:nth-child(6n+3) {
	--primary: var(--blue);
}
.home-footer-link:nth-child(6n+4) {
	--primary: var(--yellow);
}
.home-footer-link:nth-child(6n+5) {
	--primary: var(--purple);
}
.home-footer-link:nth-child(6n+6) {
	--primary: var(--red);
}
.home-footer-link-content {
	padding: 10px;
	border-radius: 50%;
	aspect-ratio: 1/1;
	text-align: center;
	color: var(--primary);
	/* background-color: var(--primary); */
	border: 4px solid var(--primary);
	box-shadow: 8px 8px var(--primary);
	display: flex;
	align-items: center;
	justify-content: center;
	transition: box-shadow .2s, border .2s, color .2s, transform .2s, background-color .2s;
}
.home-footer-link:hover .home-footer-link-content {
	transform: translate(-8px, -8px);
	color: var(--off-black);
	border: 4px solid var(--dark-gray);
	box-shadow: 16px 16px var(--dark-gray);
	background-color: var(--off-white);
}
.home-footer-link:active .home-footer-link-content {
	transform: translate(8px, 8px);
	box-shadow: 0px 0px var(--dark-gray);
}
.home-footer-link-content-text {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 5px;
	animation: home-footer 1s infinite ease-in-out alternate;
}
@keyframes home-footer {
	from {
		transform: rotate(-5deg);
	}
	to {
		transform: rotate(5deg);
	}
}
.home-footer-link-subtitle {
	text-transform: uppercase;
	font-variation-settings: "wght" 700, "SRFF" 0;
	font-weight: 700;
	font-size: 12px;
	letter-spacing: .1em;
	line-height: 1em;
}
.home-footer-link-title {
	font-size: clamp(18px, 2vw, 32px);
	letter-spacing: -0.05em;
	font-variation-settings: "wght" 800, "SRFF" 0;
	font-weight: 800;
	line-height: 1em;
}
.home-footer-credits {
	opacity: .25;
	letter-spacing: -0.02em;
	font-variation-settings: "wght" 300, "SRFF" 0;
	font-weight: 300;
	font-size: 14px;
	text-wrap: pretty;
	line-height: 1.4em;
	text-align: center;
	max-width: 30em;
	margin: 60px auto 20px auto;
	transition: opacity .2s;
}
.home-footer-credits:hover {
	opacity: 1;
}
.home-footer-credits a {
	color: var(--off-white);
	text-decoration: underline;
	text-decoration-thickness: .5px;
	text-underline-offset: .2em;
	transition: opacity .1s;
}
.home-footer-credits a:hover {
	text-decoration: none;
}
.home-footer-credits a:active {
	opacity: .25;
}
@media only screen and (max-width: 700px) {
	.home-footer-links {
		gap: 20px;
	}
}
@media only screen and (max-width: 400px) {
	.home-footer-links {
		grid-template-columns: 1fr;
	}
	.home-footer-link-title {
		font-size: 24px;
	}
}